timeout: 3

left_title: Left Workspace
left_x_pos: 1760
left_y_pos: 10
left_width: 150
left_height: 150

center_title: Center Workspace
center_x_pos: 3680
center_y_pos: 10
center_width: 150
center_height: 150

right_title: Right Workspace
right_x_pos: 4760
right_y_pos: 10
right_width: 150
right_height: 150
